<!DOCTYPE html>
html(lang="en")
  head
    title test
    link(rel='stylesheet', href='/css/site.css')
    block styles
    include hmr.pug

  body
    include header.pug

    main(class="main-container")
      block content

    include footer.pug

    script(src='/dist/vendors.js')
    block scripts
