<!DOCTYPE html>
html(lang="en")
  head
    title test
    link(rel='stylesheet', href='/css/site.css')
    script(src='/dist/hmr.js')
    //- block scripts
    //-   script(src='/jquery.js')
  body
    include header.pug

    main(class="main-container")
      block content

    include footer.pug

    script(src='/dist/vendors.js')
    block scripts
